pkgbase = gdlauncher-bin
	pkgdesc = GDLauncher is simple, yet powerful Minecraft custom launcher with a strong focus on the user experience
	pkgver = 1.1.5
	pkgrel = 1
	url = https://gdevs.io
	arch = x86_64
	license = GPL3
	makedepends = gendesk
	makedepends = unzip
	makedepends = wget
	depends = libnotify
	depends = libxss
	depends = libxtst
	depends = libindicator-gtk3
	depends = libappindicator-gtk3
	conflicts = gdlauncher-appimage
	conflicts = gdlauncher
	conflicts = gdlauncher-git
	noextract = GDLauncher-1.1.5.zip
	noextract = icon.png
	source_x86_64 = GDLauncher-1.1.5.zip::https://github.com/gorilla-devs/GDLauncher/releases/download/v1.1.5/GDLauncher-linux-setup.zip
	source_x86_64 = icon.png::https://github.com/gorilla-devs/GDLauncher/raw/master/public/icon.png
	md5sums_x86_64 = f13b28569a9670d639d2e47a4cbd6a4c
	md5sums_x86_64 = af0ce1364e34f49af3793bf8193c5369

pkgname = gdlauncher-bin

